.discount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    width: 100%;
    color: white;
    background-color: #FA6A69;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: PoppinsMedium;
}