.filter-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;

    .filter-by-price,
    .filter-by-text {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .sort-by-select {
        min-width: 180px;
        max-width: 180px;
    }
}