.home-hero-container {
    background-color: $secondary-background-color;
    height: calc(100vh - 70px);

    .hero-inner-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    img {
        width: rem(600px);
        height: rem(600px);
    }

    .hero-text {
        h1 {
            text-transform: uppercase;
            letter-spacing: .5rem;
            font-size: 1.1rem;
            margin-block-end: 3rem;
        }

        .main-p {
            // font-size: 3.8rem;
            font-size: 4.2rem;
            font-family: PoppinsMedium;
            margin-block-end: 3rem;

            p {
                margin-block-end: .5rem;

            }

        }

        button {
           @include btnDesign()
        }
    }



}